################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Project-JSOM-Copy-Work-Packages/bin/Debug
/Project-JSOM-Copy-Work-Packages/obj/Debug
/.vs
